.navbar{
    border-bottom:5px solid #000000;
    background-color: #800000 !important;    
}

.navbar li:hover{
    background-color:#A48F6C;
    transition:0.5s;
    border-radius:8px;
    cursor:pointer;
}

.dropdown-menu{
    background-color:white;
}

.dropdown-menu a:hover {
    background-color:#400080;
    content: "\00bb";
    transition: 0.5s;
    color:white;
}